@model DHL_Demo.Models.User 

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="card h-100 border-primary justify-content-center">
                <div>
                    <div class="card-header">
                        <h1>Login to System</h1>
                    </div>

                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="username" class="control-label"></label>
                                <input asp-for="username" class="form-control" />
                                <span asp-validation-for="username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="password" class="control-label"></label>
                                <input asp-for="password" class="form-control" />
                                <span asp-validation-for="password" class="text-danger"></span>
                            </div>
                            <br/>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>